<div class="row">
  <div class="col-xs-12">
    <img src="{{getDataFromRecipes.imagePath}}" alt="" style="max-height:300px;max-width:500px" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{getDataFromRecipes.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group open" appAppDropdownClick>
      <button type="button" class="btn btn-primary dropdown-toggle">
      Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li> <a style="cursor:pointer" (click)="sendToCart()">Add to ShoppingList</a></li>
        <li> <a style="cursor:pointer" [routerLink]="['edit']">Edit Recipe</a></li>
        <li> <a style="cursor:pointer" [routerLink]="['']" (click)="onDelete()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{getDataFromRecipes.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of getDataFromRecipes.ingredients">
        {{item.name}} - {{item.amount}}
      </li>
    </ul>
  </div>
</div>
